@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Chettan 2', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.header a {
    text-decoration: none;
    color: #2F2F2F;
    font-size: 2rem;
}

.menu-items {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-items li a {
    font-size: 1rem;
    padding: 0.5em 1em;
    transition: background 0.3s ease-in-out,
        color 0.3s ease-in-out;
}

.menu-items li a:hover {
    background-color: #bbbbbb;
}

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

.menu-btn-lines,
.menu-btn-lines::before,
.menu-btn-lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #2F2F2F;
    transition: all 0.5s ease-in-out;
}

.menu-btn-lines::before,
.menu-btn-lines::after {
    content: "";
    position: absolute;
}

.menu-btn-lines::before {
    transform: translateY(-0.5rem);
}

.menu-btn-lines::after {
    transform: translateY(0.5rem);
}

.menu-btn.open .menu-btn-lines {
    transform: translateX(2rem);
    background-color: transparent;
}

.menu-btn.open .menu-btn-lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
}

.menu-btn.open .menu-btn-lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-section {
    background-color: #6F6F6F;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2335c5ee' fill-opacity='0.67' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.filter-section {
    background-color: #B3E9F8;
}

.item-section {
    background-color: #B3E9F8;
}

.item-col {
    padding: clamp(1rem, 8vw, 5rem);
    max-width: 50%;
}

.section h1 {
    font-family: 'Baloo Chettan 2', sans-serif;
    font-size: clamp(60px, 8vw, 200px);
    line-height: 3vw;
    color: #707070;
    text-transform: uppercase;
}

.section h2 {
    font-size: clamp(18px, 2.5vw, 60px);
    color: #2F2F2F;
    padding-left: 3rem;
    text-transform: uppercase;
}

.section p {
    color: #2F2F2F;
    padding-right: 1rem;
}

.item-section img {

}

.custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom .shape-fill {
    fill: #B3E9F8;
}

@media (max-width: 1023px) {
    .custom-shape-divider-bottom svg {
        width: calc(200% + 1.3px);
        height: 200px;
    }
}

@media (max-width: 767px) {
    .custom-shape-divider-bottom svg {
        width: calc(250% + 1.3px);
        height: 200px;
    }
    .header a {
        font-size: 1rem;
    }
    .menu-btn {
        display: flex;
    }
    .menu-items {
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #35C5EE;
        transition: transform 0.3s ease-in-out;
    }
    .menu-items.open {
        transform: translateX(0);
    }
    .menu-items li {
        width: 100vw;
        height: 100%;
    }
    .menu-items li a {
        color: #2F2F2F;
        font-size: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .menu-items li a:hover {
        color: #111111;
    }
}